@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

.cta {
    border: 1px solid white;
    padding: 0.5% 1.5%;
    margin-top: 1.5%;
}

.cta--primary {
    margin-top: 5%;
    padding: 2% 5%;
}

.cta--secondary {
    border: 1px solid black;
}

#border::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 7px;
    background-color: blueviolet;
    position: absolute;
    top: -50%;
    left: 0;
}

#footer-primary-content::after {
    content: "";
    display: inline-block;
    width: 75%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.485);
    position: absolute;
    bottom: -20%;
}

@media screen and (max-width: 1024px) {
    #footer-primary-content::after {
        content: "";
        bottom: -10%;
        width: 100%;
        left: 5%;
    }
   }

   @media screen and (max-width: 425px) {
    #footer-primary-content::after {
        content: "";
        bottom: -10%;
        width: 80%;
        left: 7.5%;
    }
   }
   